body{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(230, 230, 13, 0.2);
}
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color:darkolivegreen;
    height: 50%;
    width: 40%;
    border-radius: 2rem;
    padding: 7px 7px;
    margin: 10px;
    justify-content: center;
}
.card{
    width: 10%;
    height: 20%;
}
.photo {
    width: fit-content;
    background-color: tomato;
    box-shadow: black 1px 3px 15px;
    border-radius: 50%;
}
img {
    width: 10em;
    height: 10em;
    justify-content: center;
}
h2{
    justify-content: center;
    text-align: center;
}
.name {
    font-family: Helvetica;
}
.name::first-letter{
    text-transform: capitalize;
}
input{
    width: 3em;
    border-radius: 5px;   
}
li::first-letter{
    text-transform: capitalize;
}